 


input, textarea, button {
  width : 75px;
  margin: 0;

  -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
     -moz-box-sizing: border-box; /* For all Gecko based browsers */
          box-sizing: border-box;
}
.intro
{background-color: white;}
:focus {background-color: lightyellow}/**********************************
GENERAL
***********************************/
html{
	margin:0 9%;
	 
	 
	display:inline-block;
}
body{
float: center;

font-family: 'Arimo', sans-serif;
max-width: 940px;
background-color: sandybrown;/*#BEBECC*/;
}


#wrapper {

  background-color:white;
  
  max-width: 940px;
  margin: 10 auto;
  padding: 10px 5%;
}

/**********************************
HEADER
***********************************/
/***
header section{

	margin: 40px 40px;
	

	 float:left;

	border-color: black;
	 
	width: 0; 
	height: 50px; 
	border-left: 30px solid ;
	border-right: 30px solid green;
	
	border-top: 60px solid blue;

}
***/
header{
	 
	padding: 0;
	margin: 10;
}


header a{
	text-decoration: none;
	color: #003200;
	 
	 
}
header h1{
	
	padding: 0;
	margin: 10px;
	 
	background-color: red;
	background-image: linear-gradient(to bottom left,red,#b80000);
	border: 1px solid;
	border-color: darkred;
	border-radius: 10px;
	text-shadow: 0.025em 0.025em #989898;

	text-align: center;

	font-family: 'Exo', sans-serif;
	font-weight: 900;
	font-style: italic;
	font-size: 4em;
	
	}
header h2{
	text-align: center;

}


/**********************************
NAVIGATION
***********************************/

nav {
  text-align: center;
  padding: 1% 0;
  margin: 0;
  max-width: 100%

  
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
	min-width: 150px;
	clear:top;
	float:top;
	padding: 5px 0px;
	margin: 0px 1.5%;
   border: 1px solid;
  border-color: darkgrey;
  display: inline-block;
  background-color: #C2C2FF;
  border-radius: 5px;	
}

nav a {

  font-weight: 800;
  font-size: 1.75em;

  padding: 15px 10px;
  text-decoration: none;
  font-color:black;
}
nav a, nav a:visited {
  color: #fff;
}
nav a.selected, nav a:hover {
  color: #32673f;
}

/**********************************
FOOTER
***********************************/
footer {
  font-size: .8em;
  text-align: center;
  float: bottom;
   
  padding-top: 50px;
}
footer ul{
	list-style: none;
	margin: 0 40px;

}
footer li{
	display: inline-block;
}


footer a {
	padding: 15px 10px;
	text-decoration: none;
}


