{% extends "navigation/nav_bar.html"%}
		 {% block content %}






			
			
			<div class= "introduction clearfix ">
				<img src="/static/imgs/BenJ.jpg" alt="profile photo" id="front-portfolio-image" class="clearfix">
		
				<ul>

				

					<li>
						<h3>About Me</h3>
						 <p>
						 	My name is Ben Patterson and I'm a Seattle based programmer.
						 	When I'm not coding, I like to spend time with my family. 
						 	I also enjoy running and good coffee.
						 	Before getting into programming, I worked 
						 	in an industry that used incredibly buggy software. 
						 	Remembering that frustration keeps me focused on writing
						 	clean maintainable code and automated tests.
						</p>
					</li>


					<li id="contact">

						<h3> Contact </h3>
							<a href="mailto:Benthomaspatterson@gmail.com"> Email: Benthomaspatterson@gmail.com </a>
							<a href="tel:763-268-9235" > Phone:763-268-9235 </a>

					</li>
				 </ul>

			</div> <!-- introduction -->

			<div class="right_nav">
				 {% block github %}
                 	{{super()}}
               


                {% endblock github %}

				<div id="local_certs">
				
					<div class="learning udacity">
						<h3>Udacity Certificates</h3>
						<ul>
							<li>
								<a href="/static/imgs/Udacity_Web_Development.jpg">Web Development</a>
							</li>

							<li>
								<a href="/static/imgs/Udacity_Java_Intro.jpg">Intro to Java</a>
							</li>

							<li>
								<a href="/static/imgs/Udacity_Intro_CS.jpg">Intro to Computer Science</a>
							</li>

							<li>
								<a href="/static/imgs/Udacity_Statistics.jpg">Elementary Statistics</a>
							</li>

						</ul>
					</div><!-- udacity -->

					<div class="learning coursera">
						<h3>Coursera Certificates</h3>
						<ul>
							<li>
								<a href="/static/imgs/Coursera_Computer_Networks.jpg">University of Washington - Computer Networks </a>
							</li>

						</ul>
						
					</div><!-- coursera -->
				</div><!-- local_certs -->

				
				<div class="learning edx">
					<h3>Edx Certificates</h3>

					<ul>
						<li>
							<a href="https://verify.edx.org/cert/4b0fdacddc864d1e981e5386f5897098">BerkeleyX Engineering Software as a Service part 1</a>
						</li>
						<li>
							<a href="https://verify.edx.org/cert/905b79e907be4f72a488b6b667733446">BerkeleyX Engineering Software as a Service part 2</a>
						</li>

						<li>

							<a href="https://verify.edx.org/cert/d3c183becc5141a5a1ae436b38ef2d34">MITx Introduction to Computer Science and Programming Using Python</a>
						</li>
						<li>

							<a href="https://verify.edx.org/cert/74a42c4d96574e478d653563e4bd51ff">MITx Introduction to Computational thinking and Data Science</a>
						</li>

					</ul>

				</div><!-- edx -->

			</div><!-- right-nav -->


			<div class= "portfolio" id="portfolio">

				<h3>Things I tinkered with</h3>

				<ul>
					<li><a href="http://benruns.github.io/githubfeed/">Github Feed Widget Generator</a><p>I wrote some simple code for my personal website so that I could have a feed of my recent activity on github. I wanted to dry out the code so that I could use it for anyone's activity. A little more tweaking and I had a code generator for anyone's feed.</p>
					</li>
					<li><a href='https://github.com/BenRuns/jekyll-json'>Jekyll-Json Rubygem</a><p> A ruby gem for generating csv and json files on a jekyll site </p>
					</li>

					<li><a href="http://git-hub-cacher.appspot.com/">Github Feed Cacher</a>
					     <p>
					     	Github doesn't like it when the same ip hits it with a large number of requests. 
					     	I made this to use with Open Seattle's project tracking. If there were a lot of 
					     	people accessing the site from the same ip at larger meetings, github would stop working. 
					     	This was my solution 
					     </p>
					</li>

					<li><a href="http://heroku-alarm.appspot.com/">Heroku Alarm</a><p>This wakes up your free heroku app instance before it goes to sleep.  </p>
					</li>
                      <!--show the photo  feature-->
					<li><a href="https://github.com/BenRuns">Github</a><p>My github page.</p></li>
					<li><a href="http://benruns.github.io/game_of_life_js/">Conway's Game of Life</a><p>I became interested in this simulation at a Global Code Retreat and decided to try and implement the solution and visualizations in JavaScript, html and css </p></li>

				</ul>
			</div><!-- portfolio -->




		{% endblock %}







	

