<!-- nav bar

// log in or log out


//Drafts


//Posts                  //Post View
  // Paginate
  // Edit or Delete

// Comments              //Place to type


//


// Photos


// Profile

// Name

// Email

//Last Login


//footer -->
{% extends "navigation/admin_nav_bar.html"%}
	{% block content %}

		<div class="row">
		<!-- sidebar -->
			<div class="col-sm-3 col-md-2 sidebar">
			  <ul class="nav nav-sidebar">
					<li class='visible-xs show-sidebar' ><button>Hide</button></li>
			    <li><a href="/blog/logout">Log Out</a></li>
			    <li><a href="/profile">Profile</a></li>
					<li><a href="/posts">Posts</a></li>
					<li><a href="/images">Images</a></li>
					<li><a href="/drafts">Drafts</a></li>
			    <li><a href="/admin/comments">Comments</a></li>
			  </ul>
			</div>

			<div class="col-col-xs-3">
				<button class='visible-xs show-sidebar' >Menu</button>
			</div>
    <!-- main -->
			<div class="col-sm-9 col-sm-offset-3
			  col-md-10 col-md-offset-2 main">
			  <h1 class="page-header">Admin Panel</h1>
				<div class="row admin-main">
					<div class="markdown-panel">
				    <div class="col-xs-12 col-sm-9 markdown-input-preview">

				    </div>

						<div class="col-xs-12 col-sm-9 ">

							<button>Publish</button>
							<button>Save As Draft</button>
							<button id='button-add-image'>Add Image</button>
							<div class='col-xs-6 col-xs-offset-3' id='add-image-popup' >
								 <div class='col-xs-6 img-preview' ></div>
								 <div class='col-xs-6 '>
								   <label for='px-height'>Image Height</label>
								   <input type='number'
								     value=100 name='px-height'
								     id='max-px-height'>
									  </input>
								   <button id='process-image'>Process</button>
								   <input id="add-picture-file" type="file" accept="image/*">
								 </div>
							</div>
							<div class='form-group col-xs-12'>
								<textarea class="markdown-input" type="text"></textarea>
							</div>

						</div>
					</div>

			  </div>
		  </div>
    </div>
  {% endblock %}