<!DOCTYPE html>
<html>
	<head>
		<title>Ben Patterson -  Personal page </title>
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
		
	</head>


	<body>
		<div class="container">
			<header>
				
				<a href="mailto:Benthomaspatterson@gmail.com?subject=Hi Ben! I think you're awesome"><h1>Ben Patterson</h1></a>


			</header>
			
			<div class= "introduction">
				<p> Hello! I'm Ben and here are some things I've been working on. </p>

			</div>


			<div class= "portfolio" >

				<h3>Portfolio</h3>

				<ul>
					<li><a href="/blog">Blog</a></li>
					<li><a href="/container">Freight Calculator</a></li>
					<li><a href="http://mmatch.herokuapp.com/">Maker Match</a></li>
					<li><a href="http://cynic-cycles.appspot.com/">Cynic Cycles</a></li>
					<li><a href="http://benruns.github.io/2048/">2048 Clone</a></li>
					<li><a href="https://github.com/BenRuns">Github</a></li>

				</ul>
			</div>

			<div class ="mooc_certs">
				
				<div class="udacity">
					<h3>Udacity Certificates</h3>
					<ul>
						<li>Web Development</li>
						<li>Intro to Java</li>
						<li>Intro to Computer Science</li>
						<li>Elementary Statistics</li>
					</ul>
				</div>
				
				<div class="edx">
					<h3>Edx Certificates</h3>

					<ul>
						<li>BerkeleyX Engineering Software as a Service part 1</li>
						<li>MITx Intro to Computer Science</li>			
					</ul>

				</div>

				<div class="coursera">
					<h3>Coursera Certificates</h3>
					<ul>
						<li>University of Washington - Computer Networks </li>
					</ul>
					
				</div>

			</div>


			<div class="social_media">
				<h3> Contact </h3>
				<ul>
					<li>
						<a href="http://lnkd.in/bk5aZvR">linkedin</a>
					</li>
					
					<li>
						<a href="https://www.facebook.com/profile.php?id=13957415tw">facebook</a>
					</li>
					
					<li>
						<a href="https://twitter.com/BenRuns">twitter</a>
					</li>
					
					<li>
						<a href="mailto:Benthomaspatterson@gmail.com?subject=Hi Ben! I think you're awesome"> Email</a>
					</li>

					<li> 
						<a href="tel:763-268-9235" > Phone:763-268-9235 </a>
					</li>


			</div>
		</div>






	</body>

