<!DOCTYPE html>
<html>
	<head>
		<title>Ben Patterson -  Personal page </title>
		<link rel="stylesheet" href="css/normalize.css">
		<link href='http://fonts.googleapis.com/css?family=Play:400,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/css/style.css">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<meta name="viewport" content="width=device-width, maximum-scale=1.0" />
		
	</head>


	<body>
		<div class="container">
			<header>
				
				<a href="mailto:Benthomaspatterson@gmail.com"><img src="imgs/Benphoto.png" alt="profile photo"><h1>Ben Patterson </h1>

				</a>



			</header>
			
			<div class= "introduction">
				<h3>About</h3>
				<p> My name is Ben and I am an MOOC-taught coder. I've self-taught through online offerings from MIT, UC Berkeley, University of Washington, San Jose State, and Internet based organizations such as Udacity.com, Teamtreehouse.com and Code Academy. In addition to a drive to learn and ability to self-supervise and self teach, I have several years of experience in an office environment. Working hard is something I already know how to do and although I'm an entry-level coder, I don't need my hand held.  This site is running on Google app engine, uses Python, html and css.  Please feel free to contact me. I am looking for new opportunities. </p>

			</div>

			<div class="right_nav">

				<div class="social_media">
					<h3> Contact </h3>
					<ul>

							<a href="mailto:Benthomaspatterson@gmail.com"> Email</a>
						</li>

						<li> 
							<a href="tel:763-268-9235" > Phone:763-268-9235 </a>
						</li>
					</ul>


				</div>




				
				
				<div class="learning udacity">
					<h3>Udacity Certificates</h3>
					<ul>
						<li>
							<a href="/imgs/Udacity_Web_Development.pdf">Web Development</a>
						</li>

						<li>
							<a href="imgs/Udacity_Java_Intro.pdf">Intro to Java</a>
						</li>

						<li>
							<a href="imgs/Udacity_Intro_CS.pdf">Intro to Computer Science</a>
						</li>

						<li>
							<a href="imgs/Udacity_Statistics.pdf">Elementary Statistics</a>
						</li>

					</ul>
				</div>
				
				<div class="learning edx">
					<h3>Edx Certificates</h3>

					<ul>
						<li>
							<a href="https://verify.edx.org/cert/4b0fdacddc864d1e981e5386f5897098">BerkeleyX Engineering Software as a Service part 1</a>
						</li>

						<li>

							<a href="https://verify.edx.org/cert/d3c183becc5141a5a1ae436b38ef2d34">MITx Intro to Computer Science</a>
						</li>

					</ul>

				</div>

				<div class="learning coursera">
					<h3>Coursera Certificates</h3>
					<ul>
						<li>
							<a href="/imgs/Coursera_Computer_Networks.pdf">University of Washington - Computer Networks </a>
						</li>

					</ul>
					
				</div>

				<div class="learning other_learning">
					<h3>Other Online Learning</h3>
					<ul>
						<li>
							<a href="http://www.codecademy.com/arrayNinja97362">
							Code Academy
							</a>
						</li>

						<li>
							<a href="http://teamtreehouse.com/benpatterson">
							Teamtreehouse.com
							</a>
						</li>

						<li>
							<a href="http://gitimmersion.com/">
							Gitimmersion.com 1-36
							</a>
						</li>

						<li>
							<a href="https://www.youtube.com/playlist?list=PLCAF7D691FFA25555">
							LinuxLeech.com Bash Tutorial
							</a>
						</li>
						

							
					</ul>

				</div>
			</div>


			<div class= "portfolio">

				<h3>Portfolio</h3>

				<ul>
					<li><a href="/blog">Blog</a><p>A project from Udacity's web development course. This is running on Google App Engine and uses Python, HTML, css, jinja2, memcache and has a json version. My personal page is part of the code and it is available on  github. </p></li>
					<li><a href="/container">Freight Calculator</a><p>A simple tool I created when still working in the freight industry. It converts weights and volumes from imperial to metric, calculates volumes in cubic feet and meters, and calculates the chargeable weight for international air shipments. It is written in Python and uses Google app engine. The code is on github. </p></li>
					<li><a href="http://mmatch.herokuapp.com/">Maker Match</a><p>This was created for the Seattle Angelhack hackathon. It is running on rails and loaded on heroku. The pages were created using bootstrap templates. I was responsible for css styling and customizing the templates</p></li>
					<li><a href="http://cynic-cycles.appspot.com/">Cynic Cycles</a><p>A project from Udacity's web development course. The Udacity project was to create a wiki. Once logged in, you can create or edit any address added to the domain. Other features of the site are still in development. The code and is available on  github. </p></li>
					<li><a href="http://benruns.github.io/2048/">2048 Clone</a><p> A bicycle themed reskin of 2048.</p></li>
					<li><a href="https://github.com/BenRuns">Github</a><p>My github page.</p></li>
					<li><a href="http://ben-todo-list.herokuapp.com/">To-do list</a><p>This is a simple todo list created using teamtreehouse.com's rails tutorial. It uses ruby on rails, is loaded onto heroku and the code is on github. </p></li>

				</ul>
			</div>



			



		</div>
	</body>
</html>






	

