<!DOCTYPE html>
<html>

    <head>

    <title>Ben's Blog</title>
            <link rel="stylesheet" href="/css/normalize.css">
            <link href='http://fonts.googleapis.com/css?family=Play:400,700' rel='stylesheet' type='text/css'>
            <link rel="stylesheet" href="/css/style.css">

    </head>


    <body>
        <div class="container">
            <header>
            


                <a href="mailto:Benthomaspatterson@gmail.com?subject=Hi Ben! I think you're awesome"><h1>Ben's Blog</h1></a>


            <div class="blogs-nav">
                <ul>
                {% for entry in entries%}
                    
                    <li><a href="/blog/entries/{{entry.key().id()}}">{{entry.title}} {{entry.created}}</a></li>
                    

                {% endfor %}
                </ul>

            </div>

                


            </header>



            <div class="blogs">
                
            {% for entry in entries%}
                <div class="entry">
                    <a href="/blog/entries/{{entry.key().id()}}">
                        <div class="entry-title">
                            {{entry.title}}
                        </div>
                    </a>
                    <div class="entry-date">
                        Created {{entry.created}}
                    </div>
                    <div class="entry-body">
                        {{entry.entry}}
                    </div>


                </div>
                {% endfor %}

            QUERIED {{cached}} seconds ago

            </div>

        </div>
    </body>









</html>


