<!DOCTYPE html>
<html>

<head>
<title>Cynic Cycles Blog</title>
<link rel="stylesheet" href="css/normalize.css" type="text/css" media="screen">
 <link href='http://fonts.googleapis.com/css?family=Arimo|Exo:400,900italic' rel='stylesheet' type='text/css'>
 <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen">
</head>

<BODY> 
        <HEADER>
        

        

            <a href="index.html"><h1>CYNIC CYCLES</h1></a>

            


        </HEADER>



         
        <nav>
            <ul>
                <li><A HREF ="rent.html">RENT</A></li>
                <li><A HREF ="buy.html">BUY</A></li> 
                <li><A HREF ="repair.html">REPAIR</A></li> 
                <li><A HREF ="gallery.html">GALLERY</A></li> 
                <li><A HREF ="blog.html">BLOG</A></li> 
            </ul>
        </nav>
        <div id="wrapper">
            <SECTION>
            
{% for entry in entries%}
    <div class="entry">
        <div class="entry-title">{{entry.title}}</div>
        <pre class="entry-body">{{entry.entry}}</pre>
    </div>
{% endfor %}

QUERIED {{cached}} seconds ago


            </SECTION>
        </div>


    
        <footer>
            <ul>
                <li><a href="#">Career</a></li>
                <li><a href="#">Other sites</a></li>
                <li><a href="#">Bikes for a better life </a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            </footer>

    


    </BODY>









</html>


