
html, body{
	margin: auto;
	background-color: orange;
	
	background: url("../imgs/shoes.jpg") no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	height: 100%;
	font-size: 1em;
	font-family: 'Play', sans-serif;
}
header{
	padding: 5px;
	background-color: #307fb8;
	border-bottom: 5px solid #b1d2fb;
	border-radius: 5px;
	text-shadow: -1px 2px 5px #515c4c;
	
}

header a{
	text-decoration: none;
	color: white;
}


h3 {
	padding: 3px;
	border-bottom: 3px solid #b1d2fb;
	border-radius: 5px;
	color: white;
	background-color: #307fb8;
	text-shadow: -1px 2px 5px #515c4c;	
}

div li{
	 list-style-type: none
	 }
ul {
	padding: 10px;
}


.container{
	background-color: white;
	min-height: 100%;
	height: 100%;
	width: 768px;
	margin: auto;
	overflow: auto;
	box-shadow: -5px 5px 40px rgba(0,0,0,.8);
}





.learning, .social_media, .portfolio, .introduction, .portfolio li, .social_media li, header{
	float: left;
	width: 47%;
	height: 255px;
	margin: 1.5%;	
	font-size: 1em;

	
}


.social_media, .portfolio, .introduction, header{
	width: 97%;

}

.introduction {
	height: 50px;

}
.portfolio li, .social_media li{
	height: 0;
	padding: 0,1.5%;
	line-height: 1em;

}
.other_learning ul{
	padding: 5px;
	margin: 0;
	float: left;
}



