
html{
	height: 100%;
}
body{
	min-height: 100%;
}
html, body{
	margin: auto;

	width: 100%;
	
	font-family: 'Raleway', sans-serif;
	letter-spacing: 1.2px;
}

footer{
width: 100%;
clear: both;
text-align: center;
border-top: 1px solid grey;
padding: 5px 0 10px 0;
margin-top: 5px;
}

pre {
	 font-family: 'Raleway', sans-serif;
	 white-space: pre-wrap;       /* css-3 */
     white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
     white-space: -pre-wrap;      /* Opera 4-6 */
     white-space: -o-pre-wrap;    /* Opera 7 */
     word-wrap: break-word;       /* Internet Explorer 5.5+ */

}
code{
	display: inline-block;
	background-color: lavenderblush;
	padding: 5px;
	border-radius: 3px;
    border: solid 1px lightgrey;
    padding: 5px;
}


.clearfix {
  overflow: auto;
  zoom: 1;
}





div h3 {
	

	padding: 10px;
	border-bottom: 3px solid lightgrey;
	letter-spacing: 1px;
	background: linear-gradient(white 95%,grey);
	
	color: black;
	
	
	margin: 0;	
}

div li{
	 list-style-type: none
	 }

ul {
	padding: 10px;
}
a {
	text-decoration: none;
	color: #41392e;
	padding: 5px;
}
a{
	line-height: 1.5;
}
.portfolio a{
	font-size: 1.01em;
	font-weight: bold;
	display: block;
	letter-spacing: 1px;
	border-bottom: 1px solid grey;
}
.portfolio p{
	padding: 8px;
	word-wrap:break-word;
}

a:hover{
	background-color: #c19556;
	color: white;
	border-radius: 2px;
}

a:active{
	color: #854242;
}



.container{
	width: 100%;
	max-width: 950px;
	margin: auto;
	padding-top: 90px;

}
.twitter-icon,
.linkedin-icon {
	padding: 15px;
	width: 32px;
	min-height: 32px;
	margin-bottom: -8px;

}
a.twitter-icon:hover,
a.linkedin-icon:hover{
	background-color: rgba(0,0,0,.1);
	

}
.twitter-icon{
	background:url(/imgs/twitter.svg) center center no-repeat; 
}
.linkedin-icon{
  background:url(/imgs/linkedin.svg) center center no-repeat; 

}
/***
nav bar
***/
nav{

	height: 30px;
	background-color: white;
	border-bottom: 5px solid grey;
	text-align: center;
	padding-top: 20px;
	z-index: 20;
	position: fixed;
	width: 100%;
	opacity: .95;

}


/***
About me section
***/
.introduction{
	width: 97%;
	margin: auto;
	margin-top: -40px;
	padding-top: 2%;
	padding-bottom: 2%;
	margin-bottom: 20px;
}
#front-portfolio-image{
	border-radius: 100%;
	width: 47.5%;
	float: right;
	margin-top: 30px;
	margin-right: 2%;

	
}

.introduction li{
	width: 45%;
	
	height: 100%;
}
.introduction a{
	display: block;
	float: left;
	clear: left;
	margin: auto;
}
.introduction h3{
	margin-left: -10px;
}

/***
Learning certs
***/
.learning li{

}
.learning a{
	display: block;
}







.portfolio li{
	vertical-align: top;

}
.portfolio{
display: inline-block;
width: 65%;
margin-left: 12px;
}





#overlay{
	width: 100%;
	height: 100%;
	position: fixed;
	top:0;
	z-index: 100;
	text-align: center;
	background-color: rgba(0,0,0,.7);
	overflow: scroll;
}
	#overlay img{
		
		max-width: 100%;
		max-height: 100%;
		margin-top: 8%;

	
	}
	#overlay iframe{
		width: 90%;
		height: 90%;
		margin-top: 3%;

	}

/***
github feed
***/

#github-feed{
	height: 300px;
	overflow: scroll;
}
#github-feed img{
	height: 17px;
	margin-top: 10px;
}
.github-feed h3{
	margin-top: -6px;
	padding-left: 2px;
}

/*******
* Blog specific
*******/


 .blogs, .blogs-nav {
 	background-color: white;
	 
 }

 .blogs{
 	display: inline-block;
 	margin-left: 1.6%;
 	width: 65%;
 }
 .blogs-nav{
 	width: 33%;
 	float: right;
 	margin-left: 0;
 }
 .entry-date{
  	clear: right;
  }

a.entry-date.blogs-nav-li{
	padding-left: 15px;
	min-width: 94%;
}
p.entry-date.blogs-nav-li{
	padding: 1px;
	margin: 1px;
}
.blogs-nav{
	margin-top: -20px;
}
.entry{
	overflow: hidden;
	width: 96.2%;
	height: 100%;
	float: left;
	padding: 10px;
}
.entry-date {
	float: right;
	
}
.entry-title, .entry-body{
	float: left;

}
.entry-title{
	max-width: 47%;
}
.entry-body{
	clear: left;
	max-width: 100%;
}
.entry-title{
	border-radius: 7px 0 0 0;
	font-size: 1.08rem;
	font-weight: bold;
	border-left: black solid 1px;
	padding: 7px 0 0 10px;
	border-top: solid lightgrey 1px;
	margin-left: -10px;
}
.entry code{
	max-width: 98%;
}

.entry-date{
	color:grey;
	border-radius: 0 7px 0 0;
	font-size: .90rem;
	font-weight: italic;
	border-right: black solid 1px;
	padding: 7px 10px 7px 0;
	border-top: solid lightgrey 1px;

}

#newpost-content,#newpost-preview{
	width: 48%;
	height: 600px;
	float:left;
   display: inline-block;
   overflow: auto;
}
#newpost-preview{
	clear: right;
	border-left: 1px solid grey;
	padding: 5px;
}
#posts-to-edit{
	width: 500px;
	display: block;
	float: left;
	clear: both;
}
#newpost-content li{
	margin: 10px;

}
#newpost-content textarea{

	width: 98%;
	height: 450px;

}



/***
container specific
***/

.container-plan-div{
	background: white;
	width: 80%;
	margin: auto;
	padding: 2%;
}
#container-form-table{
	width: 70%;
}
#container-form-table input{

	width: 60px;

}

@media screen and (max-width : 600px)  {
	#front-portfolio-image{
		margin-top: 35px;
		width: 100px;
		padding: 8px;
		background-color: white;
	
	}
	.introduction li{
		width: 97%;
	}
	.right_nav{
	width: 92%;
	margin-left: 8px;
	
    }
    .portfolio{
   	width: 92%;
    }
    .blogs-nav{
    	display: none;
    }
    .blogs{
    	width: 85%;
    	margin: 0;
  
    }

}
/*** Media settings   **/

@media screen and (min-width : 600px)  {

	.right_nav{
		float: right;
		clear: right;
		width: 28%;
		margin-right: 2%;
		padding: 0;
	}



}


@media screen and (min-width : 1200px)  {

	.container{
		width:1200px;
	}

}


