
html, body{
	margin: auto;
	background-color: orange;
	height: 100%;
	font-size: 1em;
	font-family: 'Play', sans-serif;
}
header{
	padding: 1%;
	background-color: lightblue;
	border-bottom: 5px solid darkblue;
	border-radius: 5px;
	
	height: 20%;
}
header a{
	text-decoration: none;
	color:darkred;
}

h3 {
	padding: 3px;
	border-bottom: 3px solid rgba(0,0,0,.5);
	border-radius: 5px;
	color: white;
	text-shadow: -1px 1px 2px black;
	

}
div li{
	 list-style-type: none
	 }
ul {
	padding: 10px;
}


.container{
	background-color: white;

	min-height: 100%;
	height: 100%;
	width: 768px;
	margin: auto;
	overflow: auto;
	
}

.introduction h3{

	background-color: blue;
}
.portfolio h3{
	background-color: yellow;
}
.learning h3{
	background-color: green;
	

}

.social_media h3{
	background-color: lightgrey;
}

.learning, .social_media, .portfolio, .introduction, .portfolio li, .social_media li{
	float: left;
	width: 47%;
	height: 255px;
	margin: 1.5%;	
	font-size: 1em;

	
}


.social_media, .portfolio, .introduction{
	width: 97%;

}

.introduction {
	height: 50px;

}
.portfolio li, .social_media li{
	height: 0;
	padding: 0,1.5%;
	line-height: 1em;

}
.other_learning ul{
	padding: 5px;
	margin: 0;
	float: left;
}



