{% extends "navigation/nav_bar.html"%}
		 {% block content %}



					<div >	
							<p><a href="mailto:Ben@benpatterson.io">Email: Ben@benpatterson.io </a></p>
							<p><a href="tel:763-268-9235" > Phone:763-268-9235 </a></p>
							<p><a href="https://twitter.com/BenRuns" >Twitter: @BenRuns </a></p>
							<p><a href="http://www.linkedin.com/in/bpatt1">Linkedin: http://www.linkedin.com/in/bpatt1 </a></p>
							
							<p><a href="https://github.com/BenRuns">Github: BenRuns</a></p>
							
							<p><a href="http://stackoverflow.com/users/3157191/cyn">Stackoverflow profile</a></p>
					</div>



{% endblock %}