{% extends "navigation/nav_bar.html"%}

         {% block content %}



                <h1 >Ben's Blog</h1>

            <div class="blogs">

            {% for entry in entries%}
                 <div class="entry">
                    <a href="/blog/entries/{{entry.key.id() }}" class="entry-title">

                            {{entry.title}}
                    </a>

                    <span class="entry-date">
                        {{entry.nice_created()}}
                    </span>

                    <div class="entry-body">
                        {{entry.markdown_content()}}
                    </div>


                 </div>
            {% endfor %}
            {% if offset != '0' %}
                <a href="/{{ '/blog?offset=' + offset }}"  >
                        Next 10 entries
                 </a>
            {% else %}
                <p> End of Entries </p>
            {% endif %}


            </div>

            <div class="blogs-nav right-nav">
                <ul class="clearfix" id="blogs-nav">
                {% for entry in entries%}
                    <a href="/blog/entries/{{entry.key.id()}}" class="entry-date blogs-nav-li" >
                        <li ><p>{{entry.title}}</p><p>{{entry.nice_created()}}</p></li>
                    </a>


                {% endfor %}




                </ul>

                {% block github %}
                 {{super()}}



                {% endblock github %}


            </div>



{% endblock %}











