

{% extends "navigation/nav_bar.html"%}
		 {% block content %}
		 <div id="newpost-content">

			<form method="post">
				<ul>
				 <li>

		

				   	<input type ="hidden" name="Key" value="{{entry.key}}">
					<input type ="hidden" name="created" value="{{entry.created}}">
		
		  			<input type ="text" name="title" value="{{entry.title}}">Title</input>
				 </li>
				 
				 <li>

					<textarea contenteditable="true" spellcheck="true" name="entry" id="content" oninput="this.editor.update()" >{{entry.entry}}</textarea>
				</li>

				
				<li class="error">
					{{error}}
				</li>
				<li>

				<input type="submit">
				</li>

			</form>
		</div>


		<div id="newpost-preview" >
		 
		</div>

	

		   <script >
		      function Editor(input, preview) {
		        this.update = function () {
		          preview.innerHTML = markdown.toHTML(input.value);
		        };
		        input.editor = this;
		        this.update();
		      }
		      var $ = function (id) { return document.getElementById(id); };
		      new Editor($("content"), $("newpost-preview"));
		 </script>
		    




            
             {% endblock %}

